@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTopMain {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  80% {
    transform: translateY(1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes shine {
  from {
    -webkit-mask-position: 150%; }
  to {
    -webkit-mask-position: -50%; } }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%; }
  @media only screen and (max-width: 50.5em) {
    html {
      font-size: 30%; } }
  @media only screen and (max-width: 70em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 60%; } }

body {
  font-family: Rubik;
  box-sizing: border-box;
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #00c2e5;
  color: #fff; }

.heading-secondary {
  opacity: .8;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #1b1b1b;
  letter-spacing: 2px;
  transition: all .1s;
  display: block;
  background-image: linear-gradient(to right, #3e64ff, #000);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 50.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-turtuary {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-turtuary {
      font-size: 2.5rem;
      float: left; } }

.slim-text {
  font-weight: 300; }

.page--heading {
  letter-spacing: 2rem;
  font-size: 3rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .page--heading {
      font-size: 2.5rem; } }

.heading-primary {
  font-size: 9rem;
  text-transform: uppercase; }

.main-heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #333;
  display: inline-block; }
  .main-heading::after {
    content: '';
    display: block;
    width: 40%;
    height: 2.5px;
    background: #00b7ff;
    transition: width .6s; }
  .main-heading:hover::after {
    width: 100%; }

.sub-heading {
  text-transform: uppercase;
  font-size: 2rem;
  color: #777;
  display: inline-block; }
  .sub-heading::after {
    content: '';
    display: block;
    width: 10px;
    height: 2.5px;
    background: #00b7ff;
    transition: width .6s; }
  .sub-heading:hover::after {
    width: 100%; }

.paragraph {
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 1.4rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-heading {
  letter-spacing: 1rem;
  font-size: 5rem;
  color: #333;
  transition: all .5s;
  top: 10px;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-heading {
      font-size: 4rem; } }
  @media only screen and (max-width: 50.5em) {
    .section-heading {
      font-size: 3rem; } }
  .section-heading:after {
    content: '';
    display: block;
    margin: 10px auto;
    width: 30%;
    height: 2px;
    background: #00c2e5;
    transition: width .3s; }
  .section-heading:hover {
    transform: translateY(-1rem); }
  .section-heading:hover:after {
    width: 50%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 0rem;
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.read-more {
  text-transform: uppercase;
  padding: 6px;
  background: #00c2e5;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2); }
  .read-more:active, .read-more:focus {
    outline: none; }
  .read-more:hover {
    transform: translateY(-0.5rem);
    color: #00c2e5;
    background-color: #fff;
    border: 2px solid #00c2e5;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    filter: opacity(80%); }
    .read-more:hover:active {
      transform: translateY(0.5rem);
      outline: none; }

.btn-big {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem;
  background: #00c2e5;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  transition: all .2s;
  cursor: pointer;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1); }
  .btn-big:active, .btn-big:focus {
    outline: none; }
  .btn-big:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.5 2rem 2rem rgba(0, 0, 0, 0.1); }
    .btn-big:hover:active {
      transform: translateY(0.3rem);
      box-shadow: 0.5 2rem 2rem rgba(0, 0, 0, 0.2); }

.form-container {
  margin: 12rem 0;
  padding: 0; }

.box {
  background-color: rgba(255, 255, 255, 0.9);
  animation: moveInLeft 1s ease-out 1s;
  animation-duration: .8s;
  animation-fill-mode: backwards;
  width: 40rem;
  display: inline-block;
  border-radius: 5px;
  padding: 4rem;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .box {
      width: 80%;
      font-size: 1rem; } }
  @media only screen and (max-width: 50.5em) {
    .box {
      width: 80%;
      font-size: 1rem; } }
  .box h2 {
    display: inline-block;
    margin: 0 0 2rem;
    padding: 0;
    text-transform: uppercase;
    font-size: 2rem; }
    .box h2:after {
      content: '';
      display: block;
      margin: 10px auto;
      width: 70%;
      height: 2px;
      background: #00c2e5;
      transition: width .3s; }
    .box h2:hover:after {
      width: 90%; }
  .box input {
    padding: 10px 0;
    margin-bottom: 3rem; }
  .box textarea {
    margin-bottom: 2rem;
    height: 8rem;
    padding: 1rem; }
  .box input, .box textarea {
    background-color: rgba(243, 242, 242, 0.8);
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 3px;
    outline: none;
    border: none;
    border-bottom: 2px solid #999; }
  .box input[type="submit"] {
    font-weight: 900;
    width: 50%;
    cursor: pointer;
    margin-bottom: 0;
    text-transform: uppercase;
    background: #00c2e5; }
  .box .header__form div {
    position: relative;
    transition: .3; }
    .box .header__form div label {
      font-size: 1.5rem; }
  .box .form-label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none; }
  .box input:focus ~ .form-label,
  .box textarea:focus ~ .form-label,
  .box input:valid ~ .form-label,
  .box textarea:valid ~ .form-label {
    top: -12px;
    color: #777;
    font-weight: bold;
    font-size: 1.3rem; }
  .box input:focus,
  .box textarea:focus,
  .box input:valid,
  .box textarea:valid {
    border-bottom: 2px solid #00c2e5; }

.our-process {
  padding: 5% 0;
  background: #f6f8f9; }
  .our-process::after {
    content: "";
    display: table;
    clear: both; }
  .our-process--container {
    position: relative;
    height: 50rem;
    text-align: center; }
    .our-process--container__num {
      position: absolute;
      color: #777;
      font-weight: 900;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      width: 100%;
      background: #00c2e5; }
    @media only screen and (max-width: 56.25em) {
      .our-process--container {
        height: 30rem; }
        .our-process--container__num {
          font-size: 15rem;
          z-index: 0;
          background: none;
          opacity: .12; } }
  .our-process__icon {
    text-align: center;
    border-radius: 50%;
    background-color: #00c2e5;
    color: #fff;
    padding: 3rem;
    font-size: 2rem;
    transition: all .2s; }
    .our-process__icon:hover {
      color: #00c2e5;
      transform: translateY(-1px) scale(1.02);
      background-color: #f3f2f2;
      border: 2px solid #00c2e5; }
    @media only screen and (max-width: 56.25em) {
      .our-process__icon {
        font-size: 4rem; } }

.icon--wrap {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%); }
  .icon--wrap-up {
    top: 20%; }
    .icon--wrap-up::after {
      content: "";
      background-color: #00c2e5;
      position: absolute;
      width: 5px;
      height: 11rem;
      left: 50%;
      display: block; }
    @media only screen and (max-width: 56.25em) {
      .icon--wrap-up:after {
        content: none; } }
  .icon--wrap-down {
    top: 80%; }
    .icon--wrap-down::before {
      content: "";
      background-color: #00c2e5;
      position: absolute;
      width: 5px;
      height: 11rem;
      left: 50%;
      bottom: 100%;
      display: block; }
    @media only screen and (max-width: 56.25em) {
      .icon--wrap-down {
        top: 20%; }
        .icon--wrap-down:before {
          content: none; } }

.text--wrap {
  font-size: 1.4rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }
  @media only screen and (max-width: 56.25em) {
    .text--wrap {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 70em) {
    .text--wrap {
      font-size: 1.6rem; }
      .text--wrap-up {
        top: 40%; } }
  .text--wrap h3 {
    font-size: 2.5rem;
    color: #00c2e5; }
  .text--wrap-up {
    top: 30%; }
    @media only screen and (max-width: 56.25em) {
      .text--wrap-up {
        top: 80%; } }
  .text--wrap-down {
    top: 70%; }
    @media only screen and (max-width: 56.25em) {
      .text--wrap-down {
        top: 80%; } }

.section-services__heading--container {
  margin: 0 auto;
  max-width: 50vw;
  position: relative;
  top: -70px; }
  @media only screen and (max-width: 70em) {
    .section-services__heading--container {
      max-width: 80vw;
      margin: 0 auto;
      position: relative;
      top: -79px; } }

.section-services__text-container {
  padding: 0 1rem; }
  @media only screen and (max-width: 56.25em) {
    .section-services__text-container {
      padding: 0 5rem; } }
  @media only screen and (max-width: 50.5em) {
    .section-services__text-container {
      padding: 0 1.5rem; } }

.services-details {
  margin-bottom: 5rem;
  display: inline-block;
  position: relative;
  margin: 1rem 0 3rem 0; }
  .services-details--container {
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .services-details--container {
        text-align: center; } }
  @media only screen and (max-width: 56.25em) {
    .services-details {
      width: 80vw;
      text-align: center; }
      .services-details--text {
        text-align: center; } }
  .services-details--text {
    float: right;
    margin-left: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .services-details--text {
        float: unset; } }
  .services-details--heading {
    text-align: left;
    margin-left: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .services-details--heading {
        float: unset;
        text-align: center;
        margin-left: 0; } }
    @media only screen and (max-width: 70em) {
      .services-details--heading {
        margin-left: 1.5rem; } }
    @media only screen and (max-width: 50.5em) {
      .services-details--heading {
        float: unset;
        text-align: center; } }
  .services-details__icon {
    transition: all .5s;
    position: absolute;
    top: 1px;
    font-size: 3rem;
    left: -4rem;
    color: #00c2e5; }
    @media only screen and (max-width: 56.25em) {
      .services-details__icon {
        font-size: 10rem;
        color: rgba(0, 194, 229, 0.4);
        left: 50%;
        transform: translate(-50%); } }
    .services-details__icon:hover {
      transform: rotate(360deg); }
  .services-details--btn {
    position: relative;
    margin-left: 1rem; }

.services__img {
  transition: all .3s;
  text-align: center; }
  .services__img:hover {
    outline-offset: 1.5rem;
    outline: 1.5rem solid #00c2e5;
    transform: scale(0.9); }
  .services__img .service-img {
    max-width: 100%;
    object-fit: contain; }

.why-us {
  padding: 4% 0;
  background-color: #777;
  width: 100%; }
  .why-us__heading--container {
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: -50px;
    text-align: center; }
    @media only screen and (max-width: 70em) {
      .why-us__heading--container {
        width: 80%;
        padding: 0 20px;
        top: 0; } }
  .why-us--img {
    text-align: right;
    width: 100%;
    height: 100%;
    object-fit: contain; }
    .why-us--img img {
      width: 100%; }
    @media only screen and (max-width: 70em) {
      .why-us--img {
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .why-us--img {
        max-width: 350px;
        text-align: center;
        font-size: 1rem; } }
  .why-us--li:before {
    font-family: FontAwesome;
    content: "\f058";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    color: #00c2e5;
    padding: 0 1rem; }
  .why-us--li {
    padding: 1rem;
    font-size: 2rem;
    list-style-type: none; }
    @media only screen and (max-width: 50.5em) {
      .why-us--li {
        font-size: 1.5rem; } }

.row {
  max-width: 85vw;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 80rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 70em) {
    .row {
      min-width: 90vw; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.row-5 {
  max-width: 90%;
  margin: 0 auto; }
  .row-5 .col-1-of-5 {
    float: left;
    width: calc((100%) / 5); }
    @media only screen and (max-width: 56.25em) {
      .row-5 .col-1-of-5 {
        width: 100%; } }

.header {
  max-width: 100%;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(178, 252, 255, 0.7), rgba(62, 100, 255, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: top; }
  .header__bullet-points {
    padding: 1rem;
    height: 100%;
    max-width: 60rem;
    margin: 10rem auto 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .header__bullet-points {
        padding: 0 5rem; } }
    @media only screen and (max-width: 50.5em) {
      .header__bullet-points {
        padding: 0 1.5rem; } }
    .header__bullet-points--text-box {
      font-size: 2rem;
      text-align: left;
      color: #fff; }
      .header__bullet-points--text-box--text {
        padding: 1rem 0; }
      .header__bullet-points--text-box--text:nth-child(odd) {
        color: #333; }
    .header__bullet-points--heading {
      text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .header__bullet-points__content {
        width: 100%; } }
    .header__bullet-points-typed-strings {
      font-size: 1.3rem; }

.about-header {
  text-align: center;
  background-image: url("./../../img/blx-d-p15.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%; }

.navigation {
  transition: all .3s;
  height: 6rem;
  background: #fff;
  /* position: relative; */
  position: fixed;
  z-index: 14;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.nav-logo {
  width: 50%; }

.brand {
  position: absolute;
  padding-left: 20px;
  color: #00c2e5;
  float: left;
  line-height: 6rem;
  text-transform: uppercase;
  font-size: 3rem; }
  .brand:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine .8s linear infinite; }
  @media only screen and (max-width: 56.25em) {
    .brand {
      left: 10px;
      padding-left: 0px;
      font-size: 2.5rem; } }
  .brand a,
  .brand a:visited {
    color: #00c2e5;
    text-decoration: none; }

.nav-container {
  max-width: 80vw;
  margin: 0 auto; }

nav {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  float: right; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 6rem;
        background: #fff;
        color: #333;
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          color: #00c2e5; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

.nav-a::before, .nav-a::after {
  position: absolute;
  opacity: 0;
  height: 2px;
  width: 0;
  content: '';
  background: #00c2e5;
  transition: all 0.3s; }

.nav-a::before {
  left: 0px;
  top: 10px; }

.nav-a::after {
  right: 0px;
  bottom: 10px; }

.nav-a:hover::before, .nav-a:hover::after {
  opacity: 1;
  width: 100%; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

li:hover .nav-dropdown {
  display: block; }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #00c2e5;
  height: 6rem;
  width: 6rem; }

@media only screen and (max-width: 56.25em) {
  .nav-mobile {
    display: block; }
  nav {
    width: 100%;
    padding: 6rem 0 15px; }
    nav ul {
      display: none; }
      nav ul li {
        z-index: 100;
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }
  .nav-dropdown {
    position: static; } }

@media screen and (min-width: 80%) {
  .nav-list {
    display: block !important; } }

#nav-toggle {
  position: absolute;
  left: 12px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

article {
  max-width: 80vw;
  margin: 0 auto;
  padding: 10px; }

.clients__heading--container {
  margin: 0 auto;
  width: 50vw;
  position: relative;
  z-index: 10;
  top: 10px; }
  @media only screen and (max-width: 70em) {
    .clients__heading--container {
      width: 80%;
      margin: 0 auto;
      position: relative;
      top: 10px; } }
  @media only screen and (max-width: 56.25em) {
    .clients__heading--container {
      position: relative;
      top: 12px; } }

.slider {
  display: flex;
  align-items: flex-end;
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 11vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider::before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14); }
  .slider .slide {
    height: 100%;
    width: 250px; }

.testimonials {
  background-color: #00c2e5;
  position: relative;
  padding-top: 80px; }
  .testimonials:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 30%;
    background-color: #ddd; }
  .testimonials .col-sm-12 {
    width: 100%; }

#customers-testimonials .item-details {
  background-color: #333333;
  color: #fff;
  padding: 20px 10px;
  text-align: left;
  opacity: 0; }
  #customers-testimonials .item-details h5 {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 18px; }
    #customers-testimonials .item-details h5 span {
      color: red;
      float: right;
      padding-right: 20px; }
  #customers-testimonials .item-details p {
    font-size: 14px; }

#customers-testimonials .item {
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin-bottom: 80px; }
  @media only screen and (max-width: 56.25em) {
    #customers-testimonials .item .item-details {
      opacity: 1; } }
  #customers-testimonials .item .img-responsive {
    transition: all .5s; }
  #customers-testimonials .item:hover .img-responsive {
    transition: all 1s;
    transform: scale(1.2); }
  #customers-testimonials .item:hover .item-details {
    animation-name: moveInBottom;
    animation-duration: .9s;
    animation-fill-mode: forwards; }

.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6; }

.owl-carousel {
  position: relative; }

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center; }

.owl-carousel .owl-prev {
  left: 1%; }

.owl-carousel .owl-next {
  right: 1%; }

.icon-left, .icon-right {
  font-size: 50px;
  color: #00c2e5; }

.visit {
  margin-top: 1rem;
  padding: 1rem; }

.work-slider--head h1:after {
  background: #eee; }

.section-description {
  background-color: #fff;
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-description {
      padding: 0; } }
  .section-description--row {
    max-width: 1000px; }
  .section-description--design_container {
    text-align: left;
    padding: 1rem;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .section-description--design_container {
        text-align: center;
        width: 90%; } }
  .section-description--design__img {
    text-align: right;
    width: 100%; }
    .section-description--design__img .design-img {
      object-fit: contain;
      max-width: 90%;
      max-height: 90%; }
    @media only screen and (max-width: 56.25em) {
      .section-description--design__img {
        text-align: center;
        margin: 1rem 0; } }
  .section-description--seo_container {
    text-align: left;
    padding: 1rem;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .section-description--seo_container {
        text-align: center;
        width: 90%; } }
  .section-description--seo__img {
    text-align: right;
    width: 100%; }
    .section-description--seo__img .seo-img {
      object-fit: contain;
      max-width: 90%;
      max-height: 90%; }
    @media only screen and (max-width: 56.25em) {
      .section-description--seo__img {
        text-align: center;
        margin: 1rem 0; } }

* {
  font-family: Open Sans; }

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: lightseagreen; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-links .link-1:before {
  content: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/* If you don't want the footer to be responsive, remove these media queries */
@media only screen and (max-width: 56.25em) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; }
  .footer-center__content {
    width: 80%;
    position: relative;
    margin-left: 30%;
    text-align: left; } }

@media only screen and (max-width: 50.5em) {
  .footer-center__content {
    width: 100%;
    margin: 0 auto;
    text-align: left; } }

.footer-logo img {
  width: 50%; }

.section-services {
  position: relative;
  background-color: #f3f2f2;
  padding: 10rem 0 0 10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-services {
      padding: 10rem 0; } }
  @media only screen and (max-width: 70em) {
    .section-services {
      padding: 10rem 0; } }

.why-us {
  position: relative;
  background-color: #fff; }

.our-process {
  position: relative; }

.service-header {
  background-image: linear-gradient(to right bottom, rgba(178, 252, 255, 0.7), rgba(62, 100, 255, 0.7)), url(../img/about.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%; }

.about {
  position: relative; }
  .about__our-story {
    padding: 2rem; }
  .about-heading {
    font-size: 3rem; }
  .about-img__container {
    padding: 0 5%;
    text-align: center; }
    .about-img__container img {
      outline: 1.5rem solid #00c2e5;
      max-width: 50rem;
      width: 100%; }
  .about__main-title {
    color: #fff;
    padding: 20rem 0;
    font-size: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .about__main-title {
        padding: 10rem 0; }
        .about__main-title .heading-primary {
          font-size: 5rem !important; } }
    @media only screen and (max-width: 70em) {
      .about__main-title {
        padding: 15rem 0; }
        .about__main-title .heading-primary {
          font-size: 5rem !important; } }
    @media only screen and (max-width: 50.5em) {
      .about__main-title {
        padding: 2rem 0; }
        .about__main-title .heading-primary {
          font-size: 4rem !important; } }

.text-wrap {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%); }

.get-started {
  background-image: url("./../../img/poly-bg03.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30rem; }

.des-dev__group {
  padding: 5rem 0;
  text-align: center;
  background-color: #fff; }

.get-started--container {
  color: #333;
  padding: 7rem 0;
  font-weight: 900;
  text-align: center;
  font-size: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .get-started--container {
      padding: 3rem 0; }
      .get-started--container .heading-primary {
        font-size: 2rem; } }
  @media only screen and (max-width: 70em) {
    .get-started--container {
      padding: 2rem 0; }
      .get-started--container h3 {
        font-size: 4rem; }
      .get-started--container .heading-primary {
        font-size: 7rem; } }
  @media only screen and (max-width: 50.5em) {
    .get-started--container {
      padding: 2rem 0; }
      .get-started--container .heading-primary {
        font-size: 2rem !important; } }
  .get-started--container p {
    color: #777;
    font-weight: 400; }

.service-page__container {
  height: 60vh;
  background: url("https://picsum.photos/200/300") no-repeat;
  background-size: 100%;
  background-position: top; }

.service-list {
  height: 100%; }
  .service-list__container {
    margin-top: 7rem;
    width: 80%;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%); }

body {
  background: #e2e1e0; }

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 3rem;
  position: relative;
  width: 300px;
  font-size: 1.5rem; }
  .card-service {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%); }
  .card .icon-pos {
    position: relative;
    top: -7rem; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.contact-us__container {
  height: 60vh;
  background: url("../../img/about.jpg") no-repeat;
  background-size: cover;
  background-position: top; }

.contact-row {
  width: 70%; }

.portfolio-header__container {
  height: 60vh;
  background: url("https://picsum.photos/200/300") no-repeat;
  background-size: 100%;
  background-position: top; }

.flex-container {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center; }

.flex-item {
  width: 40rem;
  height: 30rem;
  margin: 5rem; }
